@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

$background: #011928;
// $background: #0a192f;

$cardBackground: #052940;
// $cardBackground: #112240;

$popText: #FAB720;
// $popText: #f44d8d;
// $popText: #64ffda;

$lightPopText: #fab92016;
// $lightPopText: #64ffdb1a;

$titleText: #ccd6f6;


$regText: #8892b0;
$lightRegText: #8892b051;