@use "variables" as v;

.app {
    max-width: 100%;
    max-height: 100%;
    margin: 0 1em;
    display: flex;
    flex-direction: column;

    background-color: v.$background;
    color: v.$regText;

    font-family: 'Roboto', sans-serif;
    word-spacing: 0.1em;
    letter-spacing: 0.05em;
}

@media screen and (max-width: 480px) {
    .content {
        margin: 2em 0.25em;
    }
}

// iPad in portrait mode
@media screen and (min-width: 480px) {
    .content {
        margin: 4em 4em;
    }
}

// Monitors
@media screen and (min-width: 1200px) {
    .content  {
        margin: 4em 10em;
    }
}