@use 'variables' as v;

.navigationBar {
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center; // vertical
    justify-content: space-between; // horizontal

    /* Sticky nav bar code: https://www.w3schools.com/howto/howto_js_navbar_sticky.asp */
    position: sticky;
    top: 0;
    background-color: v.$background;
    margin-top: 1em; // extra spacing when at top of page
    padding: 1em 0; // spacing during scroll
    z-index: 1;

    .logo {
        color: v.$popText;
        font-family: 'Roboto Mono', monospace;
        font-size: 1.5em;
    }
    
    .item {
        text-decoration: none;
        margin: 0 0.5rem;
    }
    
    .resumeItem {
        text-decoration: none;
        margin-left: 0.5rem;

        color: v.$popText !important;
        border: 1px solid v.$popText;
        border-radius: 5px;
        padding: 0.5em;
    }

    a.item {
        color: v.$regText;
    }
    a.item:hover {
        color: #ffffff;
    }
    
    .resumeItem:hover {
        background-color: v.$lightPopText;
    }
}

@media only screen and (min-width: 480px) {
    .navigationBar {        
        // applying margin to '.navigationBar' behaves weirdly :(
        .logo {
            margin-left: 1em;
        }
        .resumeItem {
            margin-right: 1em;
        }  
    }
}

@media only screen and (max-width: 480px) {
    .navigationBar {
        .item {
            display: none;
        }
    }
}